* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%; 
  }

  body {
    font-family: 'Vazir', sans-serif;
    background-color: #949478;
    direction: rtl;
    color: #333333;
    flex-direction: column;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding: 17px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-left, .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-logo {
    margin: 0 20px;
  }
  
  .nav-logo img {
    height: 35px;
    width: auto;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 7px;
    transition: all 0.3s ease;
  }
  
  .nav a:hover {
    background-color: #0066cc;
    color: #ffffff;
    border: 2px solid #0066cc;
    border-radius: 5px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #003366;
    min-width: 160px;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-content li {
    padding: 10px;
    text-align: right;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover > .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #0066cc;
    color: #ffffff;
  }
  
  .intro {
    padding: 50px 30px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 157px auto;
    width: 80%;
    border-radius: 10px;
  }
  
  .h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .intro p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
  }

  main {
    flex-grow: 1; 
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #003366;
    color: white;
    margin-top: 50px;
    font-size: 16px;
    flex-wrap: wrap;
    direction: rtl;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer-section {
    width: 30%;
    margin-bottom: 20px;
    text-align: right;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #00ad23;
  }
  
  .footer-section p {
    line-height: 1.6;
  }
  
  footer .about {
    text-align: right;
    order: 0;
  }
  
  footer .contact {
    direction: rtl;
    text-align: right;
    order: 2;
  }
  
  footer .team {
    text-align: center;
    order: 1;
  }
  
  footer .team-names {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  footer .team-names span {
    font-size: 18px;
    margin: 0 10px;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction:row;
      padding: 15px;
    }
  
    .nav-list {
      flex-direction: row;
      align-items:flex-start;
      gap: 20px;
    }
  
    .intro {
      width: 90%;
      padding: 40px 20px;
    }
  
    .h1 {
      font-size: 28px;
    }
  
    .intro p {
      font-size: 16px;
    }
  
    footer {
      padding: 20px 20px;
      flex-direction: column;
      align-items: center;
    }
  
    footer .footer-section {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  